* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #313274;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-lock_screen,
#custom-cava,
#custom-launch_wofi,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#language,
#workspaces,
#backlight {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 0px;
}

#tray, #custom-lock_screen, #cpu, #network, #custom-launch_wofi {
    border-radius: 10px 0px 0px 10px;
}

#custom-light_dark, #workspaces, #custom-power_btn, #pulseaudio.microphone, #battery, #disk {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#workspaces {
    padding-right: 5px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#network {
  font-size: 10px;
}
#language {
  font-size: 10px;
}

#custom-launch_wofi {
    color: #89b4fa;
    border-right: 0;
    margin-left: 10px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
}

#custom-cava {
    color: #8FBC8F;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 6px;
    font-family: "bargraph";
    font-size: 22px;
}

#custom-cava.Playing {
    background: rgb(137, 180, 250);
    background: radial-gradient(circle, rgba(137, 180, 250, 120) 0%, rgba(142, 179, 250, 120) 6%, rgba(148, 226, 213, 1) 14%, rgba(147, 178, 250, 1) 14%, rgba(155, 176, 249, 1) 18%, rgba(245, 194, 231, 1) 28%, rgba(158, 175, 249, 1) 28%, rgba(181, 170, 248, 1) 58%, rgba(205, 214, 244, 1) 69%, rgba(186, 169, 248, 1) 69%, rgba(195, 167, 247, 1) 72%, rgba(137, 220, 235, 1) 73%, rgba(198, 167, 247, 1) 78%, rgba(203, 166, 247, 1) 100%);
    background-size: 400% 400%;
    animation: gradient_f 9s cubic-bezier(.72, .39, .21, 1) infinite;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
    font-weight: bold;
    color: #fff;
}

#custom-cava.Paused,
#custom-cava.Stopped {
    background: #211f1f;
}
